body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: white;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    padding-bottom: 3rem
}
button {
    font-family: 'Ubuntu', sans-serif;
}
.container-fluid {
    padding: 3% 15% 0;
}
.intro {
    padding: 10% 0 0;
}
.intro-img {
    margin: 10% 0 0;
}
.iphone-img {
    width: 60%;
    margin: auto 20% 0;
    transform: rotate(30deg);
    overflow: hidden;
}
.navbar {
    padding: 0;
}
.navbar-brand {
    font-weight: 700;
    font-size: 3rem;
    font-family: 'ubuntu', sans-serif;
}
.navbar-nav {
    font-family: ubuntu;
    font-size: 1.3rem;
}
.row {
    margin: 0;
}
.title {
    background-color: #ff4c68;
}
